<% include partials/header %>

<div class="container">
    <!-- similar to div -->
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Sunshine Scuba Shop!</h1>
            <p>View our collection of scuba diving equipment</p>
            <p>
                <a class="btn btn-primary btn-large" href="/products">Start Shopping!</a>
            </p>
        </div>
    </header>
    <img class="center-block" src="scubaHome.jpg">
    <!-- maybe add promotional products database here -->
</div>


<!-- <a href="/campgrounds">View All Campgrounds</a> -->
<% include partials/footer %>