<% include partials/header %>

<div class="container">
    <div class="panel panel-primary">

        <div class = "panel-heading">
            <h3 class = "panel-title">Order Complete</h3>
        </div>
        
        <div class = "panel-body">
            Order Was Completed! Thanks!
        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>

<!-- <a href="/campgrounds">View All Campgrounds</a> -->
<% include partials/footer %>