<% include partials/header %>
<h1>Add Page!</h1>

<p>To edit or delete a product, click <a href="/admin">here</a></p>

<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <form class="add-product-form" action="" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="number" class="form-control" name="product_ID" id="product-ID" placeholder="Product ID" required>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="product_name" id="product-name" placeholder="Product Name" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="number" step="0.01" class="form-control" name="price" id="price" placeholder="Price" required>
            </div>
            <!-- <div class="form-group col-md-6">
                <select id="position" name="position" class="form-control" required>
                    <option selected disabled>Choose position</option>
                    <option>Goalkeeper</option>
                    <option>Defender</option>
                    <option>Midfielder</option>
                    <option>Forward</option>
                </select>
            </div> -->
            <div class="col-md-12">
                <label for="product-img"><b>Product Image</b></label><br>
                <input type="file" name="image" id="product-img" class="" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Add Product</button>
    </form>
</div>
<% include partials/footer %>