.thumbnail img { /* make images the same height with containers */
    height: 240px;
    margin: 5px auto;
}
.thumbnail .btn { /* give space around add to cart buttons */
    margin: 10px;
}
.thumbnail .form-control { /* make form control smaller */
    width: 100%;
}
.product-img { /* make product images from add/edit pages smaller */
    width: 40px;
    height: 40px;
}
#popViewCart {
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    display: none;
}
#popViewCart h4 {
    color: rgb(48, 46, 46);
    font-style: bold;
}
/* cool button animation! */
.viewCartBtn {
    border-radius: 4px;
    background-color: #1eb7f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.viewCartBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.viewCartBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.viewCartBtn:hover span {
  padding-right: 25px;
}

.viewCartBtn:hover span:after {
  opacity: 1;
  right: 0;
}
.viewCartBtn a {
    text-decoration: none;
    color: white;
}

/* billing page */

.billing .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.billing .col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.billing .col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.billing .col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.billing .col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.billing .container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.billing input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.billing label {
  margin-bottom: 10px;
  display: block;
}

.billing .icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.billing .btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.billing .btn:hover {
  background-color: #45a049;
}

.billing span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .billing .row {
    flex-direction: column-reverse;
  }
  .billing .col-25 {
    margin-bottom: 20px;
  }
}